.main-page-content,
.login-page-content,
.register-page-content,
.todo-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin:  auto;
    width: 80vw;
    flex-direction: column;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;
}

div {
    margin: 10px;
}

legend {
    background-color: palegoldenrod;
    border: 1px solid black;
}

.login-buttons {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.submit-button,
.register-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
